// A button class that can be extended with custom styles.
//
// :hover             - Subtle hover highlight.
// .selected          - Subtle hover highlight.
// .disabled          - Dims the button to indicate it cannot be used.
// :disabled          - Dims the button to indicate it cannot be used.
// .small          		- Dims the button to indicate it cannot be used.
// .large          		- Dims the button to indicate it cannot be used.
//
// Styleguide 1.1.
%btn {
	@include adjust-font-size-to(16px);
	@include rhythm-borders(0px, .25, 16px, solid);
	@include box-sizing(border-box);
	padding-left: 1em;
	padding-right: 1em;
	display: inline-block;
	text-align: center;
	
	&:hover, &.selected {
		text-decoration:none;
	}

	&:disabled, &.disabled {
		@include opacity(.5);
		&:hover {
			cursor: default;
		}
	}

	&.small {
		@include adjust-font-size-to(14px);
		border-width:1px;
	}

	&.large {
		@include adjust-font-size-to(18px);	
	}
}

// A button group class that can be used for grouping items extened from `%btn`.
//
// Styleguide 1.1.1.
%btn-group {
	display: inline-block;
	@include clearfix();
	:nth-child(1n) {
		@include border-radius(0);
		border-left-width:0px;
		display:block;
		float:left;
	}
}