@mixin stacked-form(){
	label {
		clear:both;
		text-align: left;
		width: 100%;
	}
	.input {
		@include column($total-columns);
		@for $i from 1 through $total-columns {
		  &.#{num-to-word($i)} { 
		    @include column-width($i);
		  }  
		}
		ul {
			padding: 0;
		}
	}
	.actions {
		@include column($total-columns);
		@include pre(0);
		padding: 0;
	}
}

form {
	.field, .fields, fieldset {
		@extend .row;
		@include trailer(1);
	}
	label {
		@include column($label-span);
		@include adjust-font-size-to(14px);
		@include padding-leader(.25, 14px);
		text-align:right;
		height: rhythm(1.5, 14px);
	}
	fieldset {
		@include clearfix();
		@include box-sizing(border-box);
		@include border-radius(3px);
		@include rhythm-borders(1px, 1);
		border: $field-border;
		legend {
			@include adjust-font-size-to(18px);
			font-weight: 700;
		}
		.field:last-of-type {
			@include trailer(0);
		}
	}
	.input {
		position: relative;
		@include column($total-columns - $label-span);
		@for $i from 1 through $total-columns {
		  &.#{num-to-word($i)} { 
		    @include column-width($i);
		  }  
		}

		&.before {
			.tooltip-wrapper {
				left: 100%;
			}
		}
		&.after {
			.tooltip-wrapper {
				right: 100%;
			}
		}

		&.success, &.error {
			.tooltip-content {
				display: block;
			}
		}

		&.error {
			.tooltip-content {
				background: $dark-red;
				&:after {
					@include arrow-color($dark-red);
				}
			}
			input, select, textarea {
				background: $light-red;
				border-color: $dark-red;
			}
		}

		&.success {
			.tooltip-content {
				background: $dark-green;
				&:after {
					@include arrow-color($dark-green);
				}
			}
			input, select, textarea {
				background: $light-green;
				border-color: $dark-green;
			}
		}
		input, select, textarea {
			margin: 0;
			width: 100%;
		}

		ul {
			padding: 0;
			margin: 0;
			@include padding-leader(.25, 14px);
			list-style: none;
			li {
				label {
					float: none;
					padding: 0;
				}
			}
		}
		small {
			@include adjust-font-size-to(11px);
			color: $gray;
			label {
				@include adjust-font-size-to(11px, 1, 10px);
				float: none;
				padding: 0;
				margin: 0;
				width: auto;
			}
		}
	}

	.prefix, .suffix {
		padding-right: 0;
		+ .prefix, + .suffix {
			padding-left: 0;
			padding-right: $column-gutter/2;
		}
		&.with-btn {
			input[type="submit"], .btn, button {
				@include box-shadow($field-shadow);
				display: block;
				width: 100%;
			}
		}
		&.with-text {
			span {
				@include adjust-font-size-to(14px);
				@include border-radius(4px);
				@include box-sizing(border-box);
				@include box-shadow($field-shadow);
				@include rhythm-borders(1px, .25, 14px, solid);
				background:$lightest-gray;
				border: $field-border;
				color: $gray;
				display: block;
				height: rhythm(1.5, 14px);
				text-align: center;
			}
		}
		input {
			position: relative;
			top: 0;
		}
	}	

	.prefix {
		&.with-text {
			span {
				@include border-right-radius(0);
			}
		}
		&.with-btn {
			input[type="submit"], .btn, button {
				@include border-right-radius(0);
				@include border-left-radius(4px);
			}	
		}
		input {
			@include border-left-radius(0);
			border-left: none;
			&:focus {
				border-left: none;
			}
		}
	}

	.suffix {
		&.with-text {
			span {
				@include border-left-radius(0);
			}
		}
		&.with-btn {
			input[type="submit"], .btn, button {
				@include border-left-radius(0);
				@include border-right-radius(4px);
			}
		}
		input {
			@include border-right-radius(0);
			border-right: none;
			&:focus {
				border-right: none;
			}
		}
	}

	.actions {
		@include column($total-columns - $label-span);
		@include pre($label-span);
		padding: 0 $column-gutter/4;
	}

	// stacked -------------------------------------------------------------------
	@if $forms-stacked {
		@include stacked-form();
	}

	&.stacked {
		@include stacked-form();
	}

	// responsive forms ----------------------------------------------------------
	@if not($forms-stacked){
		@if $forms-respond-to {
			@include respond-to($tablet-tall) {
				@include stacked-form();
			}
		}
	}

	&.responsive {
		@include respond-to($tablet-tall) {
			@include stacked-form();
		}
	}	
}

// full width inputs -----------------------------------------------------------
input, select, textarea,  {
	@include box-sizing(border-box);
	width:100%;
	&:focus {
		outline: none;
	}
}

// checkboxes and radio buttons ------------------------------------------------
input[type="checkbox"], input[type="radio"] {
	display: block;
	margin: 5px 4px 0 1px !important;
	width: auto !important;
	float: left;
}

// input styles ----------------------------------------------------------------
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select, 
textarea {
	@include box-sizing(border-box);
	@include box-shadow($field-shadow);
	@include border-radius(4px);
	@include rhythm-borders(1px, .25, 14px, solid);
	@include adjust-font-size-to(14px);
	height: rhythm(1.5, 14px);
	border: $field-border;
	display: block;
	&:focus {
		border: $field-border-focus;
		@include box-shadow(none);
		outline:none;
		outline-offset: 0;
	}
}

// textarea --------------------------------------------------------------------
textarea {
	height: auto;
	resize: none;
	width: 100%;
	.resizeable {
		resize: both;
	}
}

// select ----------------------------------------------------------------------
select {
	@include rhythm-borders(1px, .4, 14px, solid);
	-webkit-appearance: menulist-button;
	line-height:36px;
  height: 36px;
}

// select and file inputs ------------------------------------------------------
input[type="file"] {
	font-size: 12px;
	width:90%;
	margin: 8px 0;
}

// submit ----------------------------------------------------------------------
input[type="submit"] {
	width: auto;
}