@function grid-calc($span) {
  @return percentage(($span / $total-columns));
}

@mixin column-style() {
  @include box-sizing(border-box);
  float: left;
  padding: 0 $column-gutter/2;
}

@mixin column-width($span) {
  width: grid-calc($span);
}

@mixin column($span) {
  @include column-style();
  @include column-width($span);
}

@mixin last-column() {
  float: right;
}

@mixin center-column {
  float: none;
  margin: 0 auto;
};

@mixin pre($amount) {
  margin-left: grid-calc($amount);
}

@mixin post($amount) {
  margin-right: grid-calc($amount);
}

@mixin container {
  @include box-sizing(border-box);
  margin: 0 auto;
  max-width: $container-max;
  padding: 0 $container-gutter;
  width: $container-width;
}
