@function grid-calc($span) {
  @return percentage(($span / $total-columns));
}

@mixin column-width($span) {
  width: grid-calc($span);
}

@mixin column($span, $gutter-left:$column-gutter/2, $gutter-right:$column-gutter/2) {
  @extend %column;
  @include column-width($span);
  @if $gutter-left {
    padding-left: $gutter-left;
  }
  @if $gutter-right {
    padding-right: $gutter-right;
  }
}

@mixin last-column() {
  float: right;
}

@mixin center-column {
  float: none;
  margin: 0 auto;
};

@mixin pre($amount) {
  margin-left: grid-calc($amount);
}

@mixin post($amount) {
  margin-right: grid-calc($amount);
}

@mixin container($width: $container-width, $max: $container-max, $gutter: $container-gutter) {
  @extend %container;
  max-width: $max;
  width: $width;
  padding-left: $gutter;
  padding-right: $gutter;
}

@mixin sticky-footer($wrapper: "#wrapper", $content: "#content", $footer: "#footer", $height: 72px, $offset: 72px){
  html, body {
    height: 100%;
  }

  #{$wrapper} {
    min-height: 100%;
  }

  #{$content} {
    overflow:auto;
    padding-bottom: rhythm($lines: 3, $font-size: $base-font-size, $offset: -($offset));
  }

  #{$footer} {
    @include box-sizing(border-box);
    position: relative;
    margin-top: -($height);
    height: $height;
    clear:both;
  }
}