.container {
  @include container();
}

.column {
  @include column-style();
  &:last-child {
    @include last-column();
  }
  &.center {
    @include center-column();
  }
  &.no-gutter {
    padding: 0;
  }
}

@for $i from 1 through $total-columns {
  .#{num-to-word($i)} { 
    @include column-width($i); 
  }
  .pre-#{num-to-word($i)} {
    @include pre($i)
  }
  .post-#{num-to-word($i)} {
    @include post($i)
  }
}

img, object, embed, video{
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic; 
}