html {
	    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
	@include establish-baseline($base-font-size);
}

html, body {
	height: 100%;
}

#wrapper {
	min-height: 100%;
}

#page {
	@include container();
	overflow:auto;
	padding-bottom: $footer-height;
}

#footer {
	@include box-sizing(border-box);
	position: relative;
	margin-top: -($footer-height);
	height: $footer-height;
	clear:both;
}