@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin square($size){
  @include size($size, $size);
}

@mixin show {
  display: block;
  visibility: visible;
}

@mixin user-select($select) {
  -moz-user-select: $select;
  -webkit-user-select:$select;
  user-select:$select;
}

@mixin clearfix {
  @extend %clearfix;
}

@mixin hide {
  display: none;
  visibility: hidden;
}

@mixin visually-hidden {
  border: 0;
  clip:rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable:active, &.focusable:focus  {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

@mixin invisible {
  visibility: hidden;
}

@mixin for-lt-ie9(){
  html.lt-ie9 & {
    @content;
  }
}

@mixin for-lt-ie8(){
  html.lt-ie8 & {
    @content;
  }
}

@mixin for-ie9(){
  html.ie9 & {
    @content;
  }
}

@mixin for-ie8(){
  html.ie8 & {
    @content;
  }
}

@mixin for-ie(){
  html.ie & {
    @content;
  }
}

@mixin respond-to($type, $m: max-width) {
  @if $type == handheld {
    @media screen and (max-width: 767px) {
      @content;
    }
  } @else if $type == webkit {
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      @content;
    }
  } @else if $type == nonhandheld {
    @media screen and (min-device-width: 769px) {
      @content;
    }
  } @else {
    @media screen and ($m: $type) {
      @content;
    }
  }
}

@mixin retina-display() {
  @media screen and (-webkit-min-device-pixel-ratio : 1.5), screen and (min-device-pixel-ratio : 1.5) {
    @content;
  }
}

@mixin image-replace($url){
  @extend %image-replace;
  background: image-url($url) no-repeat 0 0;
  padding-top: image-height($url);
  width: image-width($url);
}

@mixin retina-image-replace($url, $retina-url){
  @extend %image-replace;
  background-image: image-url($url);
  padding-top: image-height($url);
  width: image-width($url);
  @include retina-display(){
    background-image: image-url($retina-url);
  }
}

@mixin retina-background($url, $retina-url){
  background-image: image-url($url);
  background-size: image-height($url) image-width($url);
  @include retina-display(){
    background-image: image-url($retina-url);
  }
}

@mixin typekit-font($font){
  font-family: $font;
  html.wf-loading & {
    visibility: hidden;
  }
}