.alert, .panel {
	@include border-radius(4px);
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,0.25), 0 2px 2px rgba(0,0,0,0.1));
	@include trailer(1);
	@include rhythm-borders(1px, 0, 16px, solid);
	position: relative;
	.close {
		@include opacity(0.5);
		font-size: 24px;
		font-weight: 700;
		position: absolute;
		right: 14px;
		top: 50%;
		border-bottom: none;
		&:after{
			content: "×";
			width: 14px;
			height: 14px;
			display: block;
			margin-top:-15px;
		}
		&:hover {
			@include opacity(0.8);
			cursor: pointer;
			text-decoration:none;
		}
	}
	a {
		color: inherit;
		&:hover {
			@include opacity(0.8);
			text-decoration: none;
		}
	}
}

.alert {	
	@include box-style($alert-default-background, $alert-default-border-color, $alert-default-text-color, $alert-default-text-shadow);
	text-align: center;
	p {
		@include padding-leader(.5);
		@include padding-trailer(.5);
	}
	&.primary {
		@include box-style($alert-primary-background, $alert-primary-border-color, $alert-primary-text-color, $alert-primary-text-shadow);
	}
	&.secondary {
		@include box-style($alert-secondary-background, $alert-secondary-border-color, $alert-secondary-text-color, $alert-secondary-text-shadow);
	}
	&.success {
		@include box-style($alert-success-background, $alert-success-border-color, $alert-success-text-color, $alert-success-text-shadow);
	}
	&.danger {
		@include box-style($alert-danger-background, $alert-danger-border-color, $alert-danger-text-color, $alert-danger-text-shadow);
	}
}

.panel {
	@include box-style($panel-default-background, $panel-default-border-color, $panel-default-text-color, $panel-default-text-shadow);
	@include rhythm-borders(1px, 1);
	&.primary {
		@include box-style($panel-primary-background, $panel-primary-border-color, $panel-primary-text-color, $panel-primary-text-shadow);
	}
	&.secondary {
		@include box-style($panel-secondary-background, $panel-secondary-border-color, $panel-secondary-text-color, $panel-secondary-text-shadow);
	}
	&.success {
		@include box-style($panel-success-background, $panel-success-border-color, $panel-success-text-color, $panel-success-text-shadow);
	}
	&.danger {
		@include box-style($panel-danger-background, $panel-danger-border-color, $panel-danger-text-color, $panel-danger-text-shadow);
	}
}

.tooltip {
	position: relative;
  display: inline-block;
  .tooltip-wrapper {
  	position: absolute;
  }
	.tooltip-content {
		@include box-sizing(border-box);
		@include border-radius(3px);		
		@include adjust-font-size-to(12px);
		white-space: nowrap;
		background: $darker-gray;
		display: none;
	  position: relative; 
	  text-align: center;
	  padding: 0 .5em;
	  color: $white;
		z-index: 99;
		&:after {
			@include arrow-base(5px);
			@include arrow-color($darker-gray);
		}
	}
	&:hover, &.show-tooltip {
		.tooltip-content {
			display: block;
		}
	}
	&.above, &.below {
		.tooltip-content {
			left: -50%;
		}
		.tooltip-wrapper {
			left: 50%;
		}
	}
	&.above {
		.tooltip-content {
			&:after {
				@include arrow-position(5px, "below");
				@include arrow-direction("down");	
			}
	  }
	  .tooltip-wrapper {
	  	bottom: 115%;
	  }
	}
	&.below {
	  .tooltip-wrapper {
	  	top: 115%;
	  }
		.tooltip-content {
			&:after {
				@include arrow-position(5px, "above");
				@include arrow-direction("up");	
			}
	  }
	}
	&.before, &.after {
		float: none;
		.tooltip-wrapper {
			top: 50%;
		}
		.tooltip-content {
			margin-top: -1em;
		}
	}
	&.before {
	  .tooltip-wrapper {
	  	right: 115%;
	  }
		.tooltip-content {
			&:after {
				@include arrow-position(5px, "right");
				@include arrow-direction("left");	
			}
	  }
	}
	&.after {
	  .tooltip-wrapper {
	  	left: 115%;
	  }
		.tooltip-content {
			&:after {
				@include arrow-position(5px, "left");
				@include arrow-direction("right");	
			}
	  }
	}	
}

.label {
	@include adjust-font-size-to(12px);
	@include border-radius(.5em);
	background: $label-default-background;
	color: $label-text-color;
	padding: .25em .4em;
	&.important {
		background: $label-important-background;
	}
	&.info {
		background: $label-info-background;
	}
	&.success {
		background: $label-success-background;
	}
	&.warning {
		background: $label-warning-background;
	}
}

nav {
	@include clearfix();
	position: relative;
	&.horizontal, &.vertical {
		hr {
			border-top:1px solid $nav-divider-top;
			border-bottom:1px solid $nav-divider-bottom;
			border-left: none;
			border-right: none;
			@include leader(.25);
			@include trailer(.25);
		}
  	ul {
  		margin:0;
			li {
				a {
					line-height: $header-height;
					color: $nav-item-color;
					padding: 0 1em;
					display: block;
				}
				&:hover {
					> a {
						@include background($nav-item-hover-background);
						color: $nav-item-hover-color;
					}
				}
				&.active {
					> a {
						@include background($nav-item-active-background);
						color: $nav-item-active-color;
					}
				}
				&.dropdown {
					position: relative;
					> a {
						padding-right:1.5em;
						&:after {
							position:absolute;
							top: 45%;
							right: 0.5em;
						}
					}
					.dropdown-menu {
						a {
			  			@include adjust-leading-to(2);
			  		}
					}
				}
			}
		}
	}
	&.panel {
		padding: 0;
	}
  &.horizontal {
  	ul li {
  		float:left;
  	}
  	.dropdown > a {
  		padding-right: 1.75em;
			@include arrow("down", 4px, $nav-dropdown-arrow);
			&:after {
				position: absolute;
				right: .75em;
				top: 45%;
			}
  	}
  	.dropdown-menu {
  		top: $header-height + 5px;
  	}
  }
  &.vertical {
  	.dropdown > a {
			@include arrow("left", 4px, $nav-dropdown-arrow);
  	}
		.dropdown-menu {
  		top:0;
  		right: -($dropdown-width + 5);
  	}
  }
}

.dropdown-menu {
	@include clearfix;
	@include border-radius(4px);
	position: absolute;
	background: $dropdown-background;
	border: $dropdown-border;
	display: none;
	float: left;
	clear: both;
	z-index: 1001;
	hr {
		border-top:1px solid $dropdown-divider-top;
		border-bottom:1px solid $dropdown-divider-bottom;
		border-left: none;
		border-right: none;
		@include leader(.25);
		@include trailer(.25);
	}
	ul {
		@include adjust-font-size-to(14px, 1, 14px);
		@include leader(.25);
		@include trailer(.25);
		padding: 0;
		width: $dropdown-width;
		li {
			float: none !important;
			display: block;
			clear: both;
			padding: 0;
			a {
				@include adjust-leading-to(2);
				padding: 0 1em 0 1em;
				display: block;
				border: none;
				color: $dropdown-item-color;
			}
			&:hover {
				> a {
					@include background($dropdown-item-hover-background);
					color: $dropdown-item-hover-color;
				}
			}
		}
	}
}

.title-bar {
	@include background(linear-gradient(#887ab6, #6b5aa4));
	@include padding-leader(1.5);
	@include padding-trailer(1.5);
	@include trailer(2);
	#{headers(all)} {
		color: $off-white;
		text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	}
}

.toolbar {
	.btn-group, form, .btn, button, .btn-dropdown {
		display: block;
		float: left;
	}
}