// Basic styles for the <table>, <th>, and <td> elements.
//
// Styleguide 8.1.
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Style every odd `<tr>` element.
//
// @content - the content that will be applied to the `<tr>`s
//
// Styleguide 8.3.1.
@mixin style-odd-rows(){
	tr:nth-child(odd){
		@content;
	}
}

// Style every even `<tr>` element.
//
// @content - the content that will be applied to the `<tr>`s
//
// Styleguide 8.3.1.
@mixin style-even-rows(){
	tr:nth-child(even){
		@content;
	}
}

// Style every even nth `<td>` element in a row.
//
// @content - the content that will be applied to the `<td>`s
//
// Styleguide 8.3.1.
@mixin style-nth-column($column){
	tr > :nth-child(#{$column}){
		@content;
	}
}