table {
	@include leader(1);
	@include trailer(1);
	@include border-radius(4px);
	width: 100%;
	th,td{
		padding: $font-unit / 2;
	}
	td {
		@include adjust-font-size-to(14px);
	}
	th {
		@include adjust-font-size-to(18px);
		font-family: $table-header-font;
		text-align: left;
	}
	tfoot {
		td {
			@include adjust-font-size-to(18px);
			font-family: $table-header-font;
			font-weight:700;
		}
	}

	caption {
		@extend small;
		text-align:left;
		color: $gray;
		caption-side: bottom;
	}

	// @TODO - Sortable Headers

	&.bordered {
		background: $white;
		th, td {
			border: 1px solid $lighter-gray;
		}
	}
	&.striped {
		tbody {
			tr:nth-child(even) {
				background:$lightest-gray;
			}
		}
	}
	&.hover-rows {
		tbody {
			tr:hover {
				background: $light-blue;
			}
		}
	}
}

