h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

// <h1> elements can have a <h1.leader> and/or <h1.trailer> class to add spacing before or after the element.
//
// .leader           - Subtle hover highlight.
// .trailer          - Subtle hover highlight.
//
// Styleguide 5.1.1.
h1 {
	@include adjust-font-size-to($h1-size, $h1-lines);
	@include leader-and-trailer($h1-size, $h1-lines);
}

// <h2> elements can have a <h2.leader> and/or <h2.trailer> class to add spacing before or after the element.
//
// .leader           - Subtle hover highlight.
// .trailer          - Subtle hover highlight.
//
// Styleguide 5.1.2.
h2 {
	@include adjust-font-size-to($h2-size, $h2-lines);
	@include leader-and-trailer($h2-size, $h2-lines);
}

// <h3> elements can have a <h3.leader> and/or <h3.trailer> class to add spacing before or after the element.
//
// .leader           - Subtle hover highlight.
// .trailer          - Subtle hover highlight.
//
// Styleguide 5.1.2.
h3 {
	@include adjust-font-size-to($h3-size, $h3-lines);
	@include leader-and-trailer($h3-size, $h3-lines);
}

// <h4> elements can have a <h4.leader> and/or <h4.trailer> class to add spacing before or after the element.
//
// .leader           - Subtle hover highlight.
// .trailer          - Subtle hover highlight.
//
// Styleguide 5.1.4.
h4 {
	@include adjust-font-size-to($h4-size, $h4-lines);
	@include leader-and-trailer($h4-size, $h4-lines);
}

// <h5> elements can have a <h5.leader> and/or <h5.trailer> class to add spacing before or after the element.
//
// .leader           - Subtle hover highlight.
// .trailer          - Subtle hover highlight.
//
// Styleguide 5.1.5.
h5 {
	font-weight: 500;
	@include adjust-font-size-to($h5-size, $h5-lines);
	@include leader-and-trailer($h5-size, $h5-lines);
}

// <h6> elements can have a <h6.leader> and/or <h6.trailer> class to add spacing before or after the element.
//
// .leader           - Subtle hover highlight.
// .trailer          - Subtle hover highlight.
//
// Styleguide 5.1.5.
h6 {
	font-weight: 500;
	@include adjust-font-size-to($h6-size, $h6-lines);
	@include leader-and-trailer($h6-size, $h6-lines);
}

// Blockquote elements have a slight border to the left.
//
// Styleguide 5.2.
blockquote {
	margin-left:0;
	border-color: $lighter-gray;
	@include apply-side-rhythm-border(left, 5px, 1);
	@include leader(1);
	@include trailer(1);
}

p {
	@include leader(0);
	@include trailer(1);
}

a {
	text-decoration: none;
	&:hover, &:active {
		outline: 0;
		cursor: pointer;
	}
	&:focus {
		outline: thin dotted;
	}
}

nav {
	ul, ol {
		list-style: none;
		padding-left: 0;
	}
}

ul, ol {
	@include trailer(1);
	padding-left: 1.25em;
	margin-top:0;
}

dl {
	margin-top:0;
	dt {
		@include adjust-font-size-to(18px);
	}
	dd {
		margin: 0;
		@include trailer(1);
	}
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

code {
  @include rhythm-borders(1px, .25, 16px, solid);
  background: $off-white;
  border-color: $lightest-gray;
  border-width: 1px;
  font-family: monospace;
  white-space: pre;
}

pre {
	@include leader(0);
	@include trailer(1);
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
	code {
		display: block;
		overflow: auto;
	  word-wrap: normal;
	}
}

hr {
	@include margin-leader(1);
	@include margin-trailer(1);
	border: none;
	border-top:1px solid $lightest-gray;
	border-bottom: 1px solid $lighter-gray;
}


small {
	@include adjust-font-size-to(11px);
	color: $gray;
}

figure {
  margin: 0;
}

figcaption {
  @extend small;
}