h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	@include adjust-font-size-to($h1-size, $h1-lines);
	@include leader-and-trailer($h1-size, $h1-lines);
}

h2 {
	@include adjust-font-size-to($h2-size, $h2-lines);
	@include leader-and-trailer($h2-size, $h2-lines);
}

h3 {
	@include adjust-font-size-to($h3-size, $h3-lines);
	@include leader-and-trailer($h3-size, $h3-lines);
}

h4 {
	@include adjust-font-size-to($h4-size, $h4-lines);
	@include leader-and-trailer($h4-size, $h4-lines);
}

h5 {
	font-weight: 500;
	@include adjust-font-size-to($h5-size, $h5-lines);
	@include leader-and-trailer($h5-size, $h5-lines);
}

h6 {
	font-weight: 500;
	@include adjust-font-size-to($h6-size, $h6-lines);
	@include leader-and-trailer($h6-size, $h6-lines);
}

blockquote {
	margin-left:0;
	border-color: $lighter-gray;
	@include adjust-font-size-to(14px);
	@include apply-side-rhythm-border(left, 5px, 1, 14px);
	@include leader(1);
	@include trailer(1);
}

p {
	@include leader(0);
	@include trailer(1);
}

a {
	text-decoration: none;
	&:hover, &:focus {
		cursor: pointer;
	}
}

nav {
	ul, ol {
		list-style: none;
		padding-left: 0;
	}
}

ul, ol {
	@include trailer(1);
	padding-left: 1.25em;
	margin-top:0;
}

dl {
	margin-top:0;
	dt {
		@include adjust-font-size-to(18px);
	}
	dd {
		margin: 0;
		@include trailer(1);
	}
}

code {
	@include rhythm-borders(1px, .25, 16px, solid);
	background: $off-white;
	border-color: $lightest-gray;
	border-width: 1px;
	font-family: monospace;
  white-space: pre;
}

pre {
	@include leader(0);
	@include trailer(1);
	code {
		display: block;
		overflow: auto;
	  word-wrap: normal;
	}
}

abbr[title] {
	cursor: help;
}

hr {
	@include margin-leader(1);
	@include margin-trailer(1);
	border: none;
	border-top:1px solid $lightest-gray;
	border-bottom: 1px solid $lighter-gray;
}

img, object, embed, video{
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic; 
}

small {
	@include adjust-font-size-to(11px);
	color: $gray;
}

img::selction {
	background: transparent;
}

img::moz-selection {
	background: transparent;
}