// headers ---------------------------------------------------------------------
#{headers(all)} {
	margin: 0;
	font-family: $header-font;
	@if not($header-style == "normal"){
		font-weight: $header-style;
	}
	@if not($header-weight == "700"){
		font-style: $header-weight;
	}
	&.divider {
		border-color: $lighter-gray;
	}
}

h1 {
	@include adjust-font-size-to($h1-size, $h1-lines);
	@include header-extentions($h1-size, $h1-lines);
}

h2 {
	@include adjust-font-size-to($h2-size, $h2-lines);
	@include header-extentions($h2-size, $h2-lines);
}

h3 {
	@include adjust-font-size-to($h3-size, $h3-lines);
	@include header-extentions($h3-size, $h3-lines);
}

h4 {
	@include adjust-font-size-to($h4-size, $h4-lines);
	@include header-extentions($h4-size, $h4-lines);
}

h5 {
	@include adjust-font-size-to($h5-size, $h5-lines);
	@include header-extentions($h5-size, $h5-lines);
}

h6 {
	@include adjust-font-size-to($h6-size, $h6-lines);
	@include header-extentions($h6-size, $h6-lines);
}

// blockquote ------------------------------------------------------------------
blockquote {
	margin-left:0;
	border-color: $lighter-gray;
	@include adjust-font-size-to(14px);
	@include apply-side-rhythm-border(left, 5px, 1, 14px);
	@include leader(1);
	@include trailer(1);
}

// paragraphs ------------------------------------------------------------------
p {
	@include leader(0);
	//@include trailer(1, 14px);
	//@include adjust-font-size-to(14px, 1);
	@include trailer(1, 16px);
	@include adjust-font-size-to(16px, 1);
	margin-top:0;
	&.large {
		@include adjust-font-size-to(18px, 1);
	}
	&.small {
		@include adjust-font-size-to(13px, 1);
	}
}

// links -----------------------------------------------------------------------
a {
	color: $link-color;
	text-decoration: none;
	&:hover, &:focus {
		color: $link-hover;
		@if (not($disable-text-decoration))	 {
			text-decoration: underline;
		}
		cursor: pointer;
	}
}

// lists -----------------------------------------------------------------------
nav {
	ul, ol {
		list-style: none;
		padding-left: 0;
	}
}

ul, ol {
	//@include adjust-font-size-to(14px);
	@include trailer(1);
	padding-left: 1.25em;
	margin-top:0;
	li {
	}
}

dl {
	//@include adjust-font-size-to(14px);
	margin-top:0;
	dt {
		@include adjust-font-size-to(18px);
		color: $darkest-gray;
		font-weight:700;
	}
	dd {
		margin: 0;
		@include trailer(1);
	}
}

// inline code -----------------------------------------------------------------
code {
	@include border-radius(4px);
	background: $off-white;
	border: 1px solid $lightest-gray;
	font-family: $code-font;
	padding: .25em;
}

// code block ------------------------------------------------------------------
pre {
	@include leader(0);
	@include trailer(1);
	code {
		@include rhythm-borders(1px, .5, 14px);
		@include adjust-font-size-to(12px);
		line-height: 1.5em;
		font-family: $code-font;
		border-width: 1px;
		overflow-x: scroll;
		overflow-y: auto;
		white-space: pre;
	  word-wrap: normal;
	  display: block;
	}
}

// abbr ------------------------------------------------------------------------
abbr[title] {
	cursor: help;
}

// horizontal rule -------------------------------------------------------------
hr {
	@include margin-leader(1);
	@include margin-trailer(1);
	border: none;
	border-top:1px solid $hr-border-top;
	border-bottom: 1px solid $hr-border-bottom;

}

// helpers ---------------------------------------------------------------------
.center-text {
	text-align: center;
}

// selection color -------------------------------------------------------------
::-moz-selection {
    background: $selection-color;
    text-shadow: none;
}

::selection {
    background: $selection-color;
    text-shadow: none;
}

img::selction {
	background: transparent;
}

img::moz-selection {
	background: transparent;
}