%alert {
  @include trailer(1);
  @include rhythm-borders(1px, .5, 16px, solid);
  position: relative;
  text-align: center;
  .close {
    @include opacity(0.5);
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    right: 14px;
    top: 50%;
    border-bottom: none;
    &:after{
      content: "×";
      width: 14px;
      height: 14px;
      display: block;
      margin-top:-15px;
    }
    &:hover {
      @include opacity(0.8);
      cursor: pointer;
      text-decoration:none;
    }
  }
  p {
    margin: 0;
  }
}