mark {
  @include adjust-font-size-to(12px);
  @include border-radius(.5em);
  background: $label-default-background;
  color: $label-text-color;
  padding: .25em .4em;
  &.important {
    background: $label-important-background;
  }
  &.info {
    background: $label-info-background;
  }
  &.success {
    background: $label-success-background;
  }
  &.warning {
    background: $label-warning-background;
  }
}