nav {
  @include clearfix();
  position: relative;
  &.horizontal, &.vertical {
    hr {
      border-top:1px solid $nav-divider-top;
      border-bottom:1px solid $nav-divider-bottom;
      border-left: none;
      border-right: none;
      @include leader(.25);
      @include trailer(.25);
    }
    ul {
      margin:0;
      li {
        a {
          line-height: $header-height;
          color: $nav-item-color;
          padding: 0 1em;
          display: block;
        }
        &:hover {
          > a {
            @include background($nav-item-hover-background);
            color: $nav-item-hover-color;
          }
        }
        &.active {
          > a {
            @include background($nav-item-active-background);
            color: $nav-item-active-color;
          }
        }
        &.dropdown {
          position: relative;
          > a {
            padding-right:1.5em;
            &:after {
              position:absolute;
              top: 45%;
              right: 0.5em;
            }
          }
          .dropdown-menu {
            a {
              @include adjust-leading-to(2);
            }
          }
        }
      }
    }
  }
  &.panel {
    padding: 0;
  }
  &.horizontal {
    ul li {
      float:left;
    }
    .dropdown > a {
      padding-right: 1.75em;
      @include arrow("down", 4px, $nav-dropdown-arrow);
      &:after {
        position: absolute;
        right: .75em;
        top: 45%;
      }
    }
    .dropdown-menu {
      top: $header-height + 5px;
    }
  }
  &.vertical {
    .dropdown > a {
      @include arrow("left", 4px, $nav-dropdown-arrow);
    }
    .dropdown-menu {
      top:0;
      right: -($dropdown-width + 5);
    }
  }
}