<article>
  <h1>Hello World</h1>
  <p><%= lorem.sentence %></p>
</article>

<!-- <div class="container">
  <code>.contianer</code>
  <div class="items half contains center">

        <div class="item third contains">
          item
          <div class="photo half">
            photo
          </div>
          <div class="desc half">
            text
          </div>
        </div>

        <div class="item third contains">
          item
          <div class="photo half">
            photo
          </div>
          <div class="desc half">
            text
          </div>
        </div>

        <div class="item third contains">
          item
          <div class="photo half">
            photo
          </div>
          <div class="desc half">
            text
          </div>
        </div>

    </div>
  </div>
</div> -->